<ng-template [ngIf]="showBoard" [ngIfElse]="elseBlock">
  <div class="playerView">
    <div *ngFor="let player of data | keyvalue" style="width: 25%">
      <app-player
        [player]="player.value"
        (changeStatusFromPlayer)="changeStatus($event)"
      />
    </div>
  </div>

  <div style="display: flex; justify-content: center; width: 100%">
    <app-ludo-board />
  </div>
</ng-template>

<ng-template #elseBlock>
  <div>
    <label for="nick"> nick </label>
    <input id="nick" type="text" (input)="setNick($event)" />
    <button id="start" (click)="startGame()">Start</button>
  </div>
</ng-template>
